/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(.png), linear-gradient(113.68deg, #007458 1.13%, rgba(122, 16, 124, 0) 95.52%);
}

.danger-text {
    color: red;
}

.container {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: url(.png), linear-gradient(113.68deg, #007458 1.13%, rgba(122, 16, 124, 0) 95.52%);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 690px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form {
    width: 50%;
    padding: 30px;
    background: #333333;
    transition: margin-left 0.18s ease;
}

.container .form .head {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}

.container .form img {
    max-width: 95px;
}

.container .form .title {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    color: #EEEEEE;

}

.form .input-field {
    position: relative;
    height: 80px;
    width: 100%;
    margin-top: 30px;
}

.form .button-field {
    display: flex;
    gap: 40%;
    justify-content: space-between;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 50px;
    border-radius: 100px;
    border: 3px solid #EA5B5B;
    outline: none;
    font-size: 22px;
    transition: all 0.2s ease;
    background: none;
    color: #AAAAAA;

}

.input-field input:is(:focus, :valid) {
    border-color: #d91010;
}

.registration-button {
    left: 69%;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field .uil-user {
    left: 20px;
}

.input-field input:is(:focus, :valid)~i {
    color: #d91010;
}

.input-field i.icon {
    left: 20px;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 20px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #d91010;
}

.form .text {
    color: #dfd2d2;
    font-size: 18px;
}

.form a.text {
    color: red;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}


.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 100px;
    background-color: #040404;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    min-width: 140px;
    height: 80%;
    opacity: .7;
}

.form .danger-button input {
    color: red;
}

.button input:hover {
    opacity: 1;
    background-color: black;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.button-box {
    width: auto;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: #fff
}

.toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}

#btn {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    background: #e67e22;
    border-radius: 30px;
    transition: .5s;
}

.mg-t86 {
    margin-top: 86px;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 80%;
    width: 80%;
}

.bg-focus {
    background-color: #007458;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: black;
    border-radius: 100px;
    margin: 20px 0;
    /* padding: 10px; */
}

.nav .nav-item {
    /* background-color: red; */
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    min-width: 80px;
    opacity: .7;
    padding: 10px;
}

.nav-item a {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}